[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity 2
Comment=Experience liftoff
GenericName=Text Editor
Exec=/usr/bin/antigravity2 --ozone-platform-hint=wayland --enable-features=WaylandWindowDecorations,CanvasOopRasterization --enable-gpu-rasterization --enable-zero-copy %F
Icon=antigravity2
Terminal=false
Categories=Development;IDE;TextEditor;
MimeType=application/x-antigravity-workspace;
StartupNotify=true
StartupWMClass=Antigravity
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/antigravity2 --ozone-platform-hint=wayland --enable-features=WaylandWindowDecorations,CanvasOopRasterization --enable-gpu-rasterization --enable-zero-copy --new-window %F
Icon=antigravity2
